// COLOR PALETTE

$celestial-blue: #37A0EAff;
$snow: #FFF9F9ff;
$steel-blue: #2786C8ff;
$picton-blue: #3BB4EAff;
$light-red: #FA8484ff;
$white: #FFFFFFff;


// FONTS

@font-face {
  font-family: 'DMSans-Bold';
  src: url('./fonts/DMSans-Bold.ttf');
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/DMSans-Regular.ttf');
}
